
<h1 style="font-size: larger; text-align: center;">SUSTENTATION</h1>
<div class="container text-center">
  <BR>
  <div class="row row d-none d-sm-flex">
    <div class="col-lg-3 col-sm-3 bg-warning text-white">G</div>
      <div class="col  square-column bg-success text-white">E</div>
      <div class="col square-column bg-danger text-white">O</div>
      <div class="col square-column bg-warning text-white">V</div>
      <div class="col square-column bg-info text-white">A</div>
      <div class="col square-column bg-success text-white">N</div>
      <div class="col square-column bg-secondary text-white">N</div>
      <div class="col square-column bg-primary text-white">I</div>
  </div>
  <!-- Tamaño de pantalla SD -->
  <div class="row d-sm-none">
    <div class="col-3 bg-warning text-white">G</div>
    <div class="col-9">
      <div class="row">
        <div class="col-12 square-column bg-success text-white">E</div>
        <div class="col-12 square-column bg-danger text-white">O</div>
        <div class="col-12 square-column bg-warning text-white">V</div>
        <div class="col-12 square-column bg-info text-white">A</div>
        <div class="col-12 square-column bg-success text-white">N</div>
        <div class="col-12 square-column bg-secondary text-white">N</div>
        <div class="col-12 square-column bg-primary text-white">I</div>
      </div>
    </div>
  </div>
  <br>

  <div class="row row d-none d-sm-flex">
    <div class="col-lg-3 col-sm-3 bg-warning text-white">S</div>
      <div class="col square-column bg-danger text-white">O</div>
      <div class="col square-column bg-success text-white">L</div>
      <div class="col square-column bg-secondary text-white">I</div>
      <div class="col square-column bg-primary text-white">S</div>
  </div>

  <!-- Tamaño de pantalla SD -->
  <div class="row d-sm-none">
    <div class="col-3 bg-warning text-white">S</div>
    <div class="col-9">
      <div class="row">
        <div class="col-12 square-column bg-danger text-white">O</div>
        <div class="col-12 square-column bg-success text-white">L</div>
        <div class="col-12 square-column bg-secondary text-white">I</div>
        <div class="col-12 square-column bg-primary text-white">S</div>
      </div>
    </div>
  </div>